body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Encode Sans', sans-serif;
    

}
a {
    text-decoration: none;
    color: #031d5b;
    font-weight: 700;
    font-size: 1rem;

}